.Auth {
    display: grid;
    grid-template-areas:
    "header  header"
    "content formLogin";
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr 20%;
    width: 100%;
    height: 100%;
}


.Content_start_page {
    grid-area: content;
    background: #909cc4;
}



