.Email{
    height:60%;
    width:100%;
}
.Enter_email{
    height:35%;
    width:100%;
}
.send_email{
    height:4.8%;
    width:100%;
    align-content: center;
}
.chat{
    height: 100%;
    width: 100%;
}
/*.chat{*/
/*    height:100%;*/
/*    width:100%;*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    align-content: center;*/
/*}*/